<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- la source de données utilisant jdbc -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource"
		destroy-method="destroy">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://postgres/clinique"/>
		<property name="username" value="thoraval"/>	
		<property name="password" value="canari"/>
	</bean> 

	<!-- SqlMapClient -->
	<bean id="sqlMapClient"
		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource"><ref local="dataSource"/></property>
		<property name="configLocation" value="classpath:sql-map-config-postgres.xml"/>
	</bean>

	<!-- La classe DAO -->
	<bean id="dao" class="ensicaen.tb.mvc.eleves.dao.DAOImplCommon">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<!-- La classe Service -->
	<bean id="service" class="ensicaen.tb.mvc.eleves.service.IServiceImpl">
		<property name="dao" ref="dao" />
	</bean>
</beans>